@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --mobile-width: 375px;
    --desktop-width: 1440px;
    --primary-dark-cyan: hsl(158,36%,37%);
    --primary-dark-cyan-active: #1A4032;
    --primary-cream: hsl(30,38%,92%);
    --neutral-very-dark-blue: hsl(228,12%,48%);
    --neutral-white: hsl(0,0%,100%);
    --font-size-m: 14px;  
    --font-size-s: 12px;
    --font-size-l: 32px;
    --weight-m: 700;
    --weight-s: 500;
    --fraunces: 'Fraunces', serif;
    --montserrat: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-m);
    font-weight: var(--weight-s);
    height: 100vh;
    background-color: var(--primary-cream);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-family: var(--montserrat);
    font-weight: var(--weight-m);
    color: var(--neutral-white);
    background-color: var(--primary-dark-cyan);
    margin-bottom: 32px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

button>svg{
    margin-right: 12px;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: var(--primary-dark-cyan-active);
}

.container{
    display: flex;
    width: 600px;
    height: 450px;
    background-color: var(--neutral-white);
    
}

.product-content{
    margin: 32px 31.5px;
}

.product-content>small{
    font-family: var(--montserrat);
    font-weight: var(--weight-s);
    font-size: var(--font-size-s);
    letter-spacing: 5px;
    color: var(--neutral-very-dark-blue);
    text-transform: uppercase;
    -webkit-transform: uppercase;
    -moz-transform: uppercase;
    -ms-transform: uppercase;
    -o-transform: uppercase;
}
.product-content h1 {
    font-family: var(--fraunces);
    font-weight: var(--weight-m);
    font-size: var(--font-size-l);
    margin: 20px 0 24px 0;
    line-height: var(--font-size-l);
    padding-right: 12px;
}
.product-content p{
    font-family: var(--montserrat);
    color:var(--neutral-very-dark-blue);
    font-weight: var(--weight-s);
    line-height: 23px;
    margin-bottom: 18px;
}

.product-price{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.final-price{
    font-family: var(--fraunces);
    font-size: var(--font-size-l);
    font-weight: var(--weight-m);
    color: var(--primary-dark-cyan);
    margin-right: 19px;
    
}
.original-price{
    font-family: var(--montserrat);
    color: var(--neutral-very-dark-blue);
    text-decoration: line-through;
}

.container,img{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.product-image>img{
    width: 300px;
    height: 450px;
}

@media screen and (max-width: 500px) {

    .container{
        width: 343px;
        height: 611px;
        flex-direction: column;
        margin: 28px 16px;
    }

    .container,img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .product-content{
        margin: 12px 24px ;
    }

    .product-image>img{
        content: url(./images/image-product-mobile.jpg);
        width: 343px;
        height: 240px;
        margin-bottom: 0;
    }
    .product-content h1 {
        margin: 12px 0 16px 0;
        line-height: var(--font-size-l);
        padding-right: 0;
    }
}